.wrapper{
   min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: darkcyan;
}
header{
   width: 100%;
   background: rgb(217, 243, 240);
   
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    
}
.top__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.top__header ul {
    list-style: none;
    display: flex;
    padding: 0;
}
.top__header li {
    cursor: pointer;
    padding-right: 40px;
}
.top__header li:hover {
    font-weight: bold;
}
.head__logo img {
    width: 64px;
    height: auto;
}
.page{
   
}
#left__weather-icon {
    width: 224px;
    height: auto;
}
footer .row .container {
    display: flex;
    background: darkgoldenrod;
   
}
.footer__logo img {
    width: 64px;
    height: auto;
}
.footer__text {
    flex: 1;
    align-self: center;
    padding-left: 20px;
}
.footer__menu {
    flex: 2;
}
.footer__menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
