body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #2e373b;
  font-family: Circe;
  background-size: cover;
  background-image: url(../img/100.jpg);
}
header {
  width: 100%;
  background: rgb(217, 243, 240);
}
.active {
  color: #c12eab;
  background: rgb(186, 225, 225);
  text-align: center;
}
.top__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.top__header ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.top__header li {
  cursor: pointer;
  padding-right: 40px;
}
.top__header li:hover {
  font-weight: bold;
}
.head__logo img {
  width: 64px;
  height: auto;
}
.left {
  width: 432px;
  padding: 20px 40px;
}
#left__weather-icon {
  width: 224px;
  height: auto;
}
.right {
  width: 944px;
  padding: 20px 40px;
}
.right__weather-other {
  display: flex;
}
/* --tooday */
.today__hi {
  color: rgb(0, 2, 0);
}
.today__row {
  font-size: 36px;
  font-weight: 500;
  color: rgb(0, 2, 0);
}
.today__row-one {
  font-size: 24px;
  font-weight: 200;
}
.today__other-block {
  padding: 16px;
}
.today__row-one_img {
  width: auto;
  height: 40px;
}
/* --tooday and */
footer {
  height: 110px;
}
footer .row .container {
  display: flex;
}
.footer__logo img {
  width: 64px;
  height: auto;
}
.footer__text {
  flex: 1;
  align-self: center;
  padding-left: 20px;
  padding-top: 30px;
}
.footer__menu {
  flex: 2;
}
.footer__menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.footer__menu li {
  cursor: pointer;
}
.copy__bottom {
  text-align: center;
}
